:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --fs-12px: 0.75em;
    --fs-13px: 0.8125em;
    --fs-14px: 0.875em;
    --fs-32px: 2em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* 
font-family: "Montserrat", serif;
font-family: "Fraunces", serif; */

/* Adding new styles here */
body {
    background-color: var(--clr-cream);
    padding: 1em;
}

.container {
    margin: 0 auto;
}

.row {
    background-color: var(--clr-white);
    padding: 1em;
    border-radius: 0 0 0.75em 0.75em;
}

.img {
    border-radius: 0.75em 0.75em 0 0;
}

.product {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-size: var(--fs-12px);
    font-weight: 500;
    letter-spacing: 0.3125em;
    text-transform: uppercase;

    color: var(--clr-grayish-blue);
}

.product-title {
    margin-top: 0.5em;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-32px);
    line-height: 2rem;

    color: var(--clr-dark-blue);
}

.product-desc {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-14px);
    line-height: 1.438rem;

    color: var(--clr-grayish-blue);
}

.prices {
    display: flex;
    align-items: center;
    gap: 1em;
}

.product-new-price {
    margin-top: 0.5em;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-32px);
    line-height: 2rem;

    color: var(--clr-dark-cyan);
}

.product-old-price {
    margin-top: 1em;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-13px);
    line-height: 1.438rem;

    text-decoration: line-through;
    color: var(--clr-grayish-blue);
}

.btn {
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    text-align: center;
    padding: 1em;
    width: 100%;
    
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-14px);
}

.btn::before {
    content: url('/images/icon-cart.svg');
    margin-right: 0.5em;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    background-color: #1A4032;
}

@media only screen and (min-width: 45em) {
    .img {
        content: url('images/image-product-desktop.jpg');
        border-radius: 0.75em 0 0 0.75em;
    }
    .container {
        display: flex;
        justify-content: center;
        height: 28em;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0 0.75em 0.75em 0;
        width: 35%;
    }
}

@media only screen and (min-width: 90em) {
    .row {
        width: 20%;
    }
}